.icon {
  width: 120px;
  height: 119px;
  zoom: 0.25;
  -moz-transform: scale(0.25);
  -moz-transform-origin: 0 0;
  display: inline-block;
  border-radius: 25px;
  margin-right: 2rem;
  background: url(/sprites.png) no-repeat;
  line-height: 0;
  font-size: 0;
  color: transparent;
  float: left;

  &.facebook {
    background-position: -1403px -37px;
  }
  &.facebook.hover {
    background-position: -1403px -942px;
  }
  &.linkedin {
    background-position: -1101px -188px;
  }
  &.linkedin.hover {
    background-position: -1101px -1093px;
  }
  &.instagram {
    background-position: -950px -188px;
  }
  &.instagram.hover {
    background-position: -950px -1093px;
  }
  &.github {
    background-position: -1554px -37px;
  }
  &.github.hover {
    background-position: -1554px -942px;
  }
}
